 body {
     background: url('/img/Magic-8-Ball.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 #banner {
     text-align: right;
 }

 .query {
     float: left;
     margin-left: 20px;
     padding: 5px;
 }

 .results {
     margin-top: 5px;
     margin-right: 50px;
     color: white;
     font-size: 60px;
     float: right;
     padding: 5px;
 }
 
 #result {
     max-width: 180px; 
     word-wrap: break-word;
     text-align: center;
     font-size: larger;
 }
 
 .centered_div {
   position: absolute;
   top: 40%;
   left: 48%;
}

.centered_div1 {
   position: absolute;
   top: 90%;
   left: 80%;
}